.v21 .v21-header-1 {
    height: 71px;
}
.v21 .v21-header-2 {
    height: 56px;
    z-index: 900;
}
.v21 .v21-header__fixed {
    position: fixed;
    top: 20px;
    max-width: 1410px;
}

.v21 .v21-header__content .v21-header__logo {
    display: flex;
    width: 257px;
    order: 2;
}
.v21 .v21-header__content .v21-header__toggle {
    order: 5;
    margin-right: 0;
    /*margin-top: 5px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.v21 .v21-header__content .v21-header__logo span {
    margin-left: 7px;
    font-family: Canela Deck LC;
    font-size: 28px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #17375b;
}
.v21 .v21-header__content .v21-header__logo_desk {
}
.v21 .v21-header__content .v21-header__logo_mobile {
    display: none;
}

@media screen and (min-width: 768px) {
    .v21 .v21-header-1 {
        position: relative;
    }
    .v21 .v21-header__content .v21-header__toggle {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .v21 .v21-header-color {
        background-color: #eef1f2;
    }
    .v21 .v21-header-2 {
        display: none; /* мобильное меню отключено */
        /*position: fixed;*/
        position: sticky;
        /*top: 71px;*/
        top: 46px;
        left: 0;
        right: 0;
        /*transition: opacity 2s, visibility 2s;*/
    }
    .v21 .v21-header__content {
        flex-wrap: wrap;
    }
    .v21 .v21-header__content .v21-header__logo {
        flex-grow: 1;
        margin-right: 0;
        padding: 3px 0;
    }
    .v21 .v21-header__content .v21-header__logo_desk {
        display: none;
    }
    .v21 .v21-header__content .v21-header__logo_mobile {
        display: block;
    }
}
@media screen and (max-width: 575px) {
    .v21 .v21-header__content .v21-header__logo {
        flex-grow: 0;
        width: 181px;
    }
    .v21 .v21-header__content .v21-header__toggle {
        margin-left: auto;
        margin-top: 10px;
    }
    .v21 .v21-header__toggle-line {
        height: 2px;
        width: 22px;
    }
    .v21 .v21-header__toggle-line--bot {
        width: 12px;
    }
    .v21 .v21-modfdheader__container .v21-header__toggle.is-active .v21-header__toggle-line--bot {
        width: 24px;
    }
    .v21 .v21-header__toggle.is-active .v21-header__toggle-line--top {
        width: 24px;
    }
}

.v21 .v21-modfdheader__container .v21-header__toggle-line {
    background-color: #000000;
}
.v21 .v21-modfdheader__container .v21-header__toggle-line--bot {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
}
.v21 .v21-newheader__container--height {
    height: 596px; /* h=590 (v21-header__bot-nav) + 6 */
    /*transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;*/
    -webkit-transition: height .9s;
    transition: height .9s;
}
.v21 .v21-header__content .v21-header__other {
    display: flex;
    /*align-items: center;*/
    align-items: flex-start;
}
.v21 .v21-header .v21-menu__item--none {
    display: none!important;
}

@media screen and (max-width: 767px) {
    .v21 .v21-header-1 {
        height: 46px;
    }
    .v21 .v21-modfdheader__container {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
    }
    .v21 .v21-newheader__container {  /* мобильное меню отключено */
        background: none;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        position: relative;
        z-index: 400;
    }
}
@media screen and (max-width: 479px) {
    .v21 .v21-modfdheader__container .v21-header__toggle-line--top {
        -webkit-transform: translate3d(-2px, -8px, 0);
        transform: translate3d(-2px, -8px, 0);
        width: 24px;
    }
}

.v21 .v21-header__top-subblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    order: 3;
}
.v21 .v21-header__top-subblock span {
    font-family: RF Dewi;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #202020;
    cursor: pointer;
}
.v21 .v21-header__top-subblock .v21-header__top-nav-link {
    margin-right: 9px;
}
.v21 .v21-header__top-subblock .v21-header__link {
    margin-left: 9px;
    margin-right: 9px;
}

.v21 .v21-newheader__container .v21-header__search {
    position: static;
    margin-top: 8px;
}
.v21 .v21-newheader__container .v21-header__search-overlay {
    width: auto;
}
.v21 .v21-newheader__container .v21-header__search-overlay--bckgrnd {
    left: -2000px;
    right: -2000px;
    top: -100px;
    bottom: -2000px;
    width: auto;
    height: auto;
}
.v21 .v21-newheader__container .v21-header__search-open {
    position: relative;
}
.v21 .v21-newheader__container .v21-header__search-open::before {
    content: "|";
    position: absolute;
    top: 8px;
    right: -5px;
    color: #202020;
}
.v21 .v21-newheader__container .v21-header__search-form {
    top: 130px;
    left: 0;
    right: 0;
    box-shadow: 0 4px 26px rgba(0,0,0,.25);
    border-radius: 8px;
}
.v21 .v21-newheader__container .v21-header__search img {
    position: relative;
    top: -2px;
}

@media screen and (max-width: 767px) {
    .v21 .v21-header__search {
        margin-right: 32px;
    }
    .v21 .v21-newheader__container .v21-header__search-form {
        left: 16px;
        right: 16px;
    }
    .v21 .v21-header__top-subblock {
        display: none;  /* мобильное меню отключено */
    }
}
@media screen and (max-width: 479px) {
    .v21 .v21-header__search-open {
        width: 25px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .v21 .v21-header__search-form {
        width: 290px;
        top: 45px;
    }
}

.v21 .v21-modfdheader__container .v21-button--new {
    padding-left: 9px;
    padding-right: 0;
    min-width: fit-content;
    background: transparent;
    border: none;
    font-family: RF Dewi;
    font-size: 14px;
    font-weight: normal;
    color: #202020;
    cursor: pointer;
}
.v21 .v21-newheader__container .v21-button--new {
    height: 24px;
    /*padding: 0 45px 0 0;*/
    padding: 0 34px 0 0;
    margin-top: 16px;
    min-width: fit-content;
    background: transparent;
    border: none;
    font-family: RF Dewi;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #202020;
    cursor: pointer;
}
.v21 .v21-newheader__container .v21-button--new::before {
    content: url("/images/signal_to_right.svg");
    position: absolute;
    top: 1px;
    /*right: 28px;*/
    right: 16px;
}

.v21 .v21-newheader__container .v21-menu_special--appendix {
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: RF Dewi;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #202020;
    position: relative;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .v21 .v21-newheader__container .v21-menu_special--appendix {
        display: none;   /* мобильное меню отключено */
    }
}
@media screen and (max-width: 479px) {
    .v21 .v21-newheader__container .v21-button--new {
        padding-right: 20px;
    }
    .v21 .v21-newheader__container .v21-button--new::before {
        right: 2px;
    }
}
.v21 .v21-route-appendix__menu {
    padding: 21px 25px 26px 30px;
    background: linear-gradient(270.09deg, rgba(171,193,211,.15) 0, rgba(187,197,205,.15) 100%);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border-radius: 8px;
    position: fixed;
    /*position: absolute;
    top: 60px;*/
    top: 80px;
    left: -30px;
    opacity: 0;
    -webkit-transition: opacity 0.75s, visibility 0.75s;
    transition: opacity 0.75s, visibility 0.75s;
    visibility: hidden;
}
.v21 .v21-route-appendix__menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.v21 .v21-route-appendix__menu ul li a {
    color: #202020;
}
.v21 .v21-route-appendix__menu ul li:hover a {
    color: #00345e;
}
.v21 .v21-route-appendix__menu ul li:not(:last-of-type) {
    padding: 0;
    margin-bottom: 10px;
    width: 230px;
}
.v21 .v21-route-appendix__menu-show {
/*.v21 .v21-menu_special--appendix:hover .v21-route-appendix__menu {*/
    opacity: 1;
    visibility: visible;
}

.v21 .v21-menu_special {
    display: flex;
    flex-grow: 1;
    /*padding: 0 0 0 30px;*/
    padding: 0 0 0 16px;
    height: 56px;  /* firefox */
}
.v21 .v21-menu_special .v21-header__mid-nav {
    margin-right: 22px;
}
.v21 .v21-menu_special .v21-header__mid-nav {
    min-height: 56px;
    color: #000000;
    font-family: RF Dewi;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}
.v21 .v21-menu_special .v21-header__mid-nav-item {
    padding-top: 16px;
    padding-bottom: 16px;
    position: static;
}
.v21 .v21-menu_special .v21-header__mid-nav-item:nth-of-type(1) {
    /*width: 207px;*/
    width: 73px;
}
.v21 .v21-menu_special .v21-header__mid-nav-item:nth-of-type(2) {
    /*width: 151px;*/
    width: 127px;
}
.v21 .v21-menu_special .v21-header__mid-nav-item:nth-of-type(3) {
    width: 231px;
}
.v21 .v21-menu_special .v21-header__mid-nav-item:nth-of-type(4) {
    width: 220px;
}
.v21 .v21-menu_special .v21-header__mid-nav-link {
    /*height: 40px;*/
    color: #202020;
    font-family: RF Dewi;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}
.v21 .v21-menu_special .v21-header__mid-nav-item:hover .v21-header__mid-nav-link {
    font-weight: 700;
    color: #000000;
}
.v21 .v21-menu_special .v21-header__mid-nav-link.is-active {
    font-weight: 700;
    color: #000000;
}
.v21 .v21-newheader__container .v21-header__link--contacts-mobile {
    display: none;
}

@media screen and (max-width: 1220px) {
    .v21 .v21-menu_special .v21-header__mid-nav-item {
        margin-right: 14px;
    }
}
@media screen and (max-width: 767px) {
    .v21 .v21-menu_special {
        display: none; /* мобильное меню отключено */
    }
    .v21 .v21-newheader__container .v21-header__link--contacts-mobile {
        display: block;  /* мобильное меню отключено */
        margin-top: 18px;
        margin-right: 16px;
        font-family: RF Dewi;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #202020;
    }
    .v21 .v21-newheader__container .v21-button--new {
        font-size: 14px;
    }
}

/*debug*/
/*
.v21 .v21-menu_special .v21-fade {
    opacity: 1;
    visibility: visible;
}*/
/*
.v21 .v21-menu_special .special-style {
    display: none;
}

.v21 .v21-nav.js-v21-modal-content {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}
*/
/**/
.v21 .v21-menu_special .v21-header__bot-nav {
    /*padding: 0 30px 0 30px;*/
    padding-top: 0;
    height: 0;
    overflow-y: hidden;
    left: 0;
    right: 0;
    top: 56px;
    height: 100%;
    /*transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;*/
    /*transition: opacity 0.9s, visibility 0.9s, height .9s;*/
    -webkit-transition: height .5s;
    transition: height .5s;
}
.v21 .v21-menu_special .v21-header__mid-nav-item:hover .v21-header__bot-nav {
    height: 100%;
    -webkit-transition: height .5s;
    transition: height .5s;
}

.v21 .v21-menu_special .v21-header__bot-nav-wrap {
    margin: 0 auto;
    padding: 0 30px 0 30px;
    max-width: 1410px;
    /*background: linear-gradient(281.22deg, rgba(171,193,211,.15) 0, rgba(187,197,205,.15) 100%); - работает старший backdrop-filter
    backdrop-filter: blur(71px);
    box-shadow: 0 11px 37px -13px rgba(86,103,112,.33);*/
    /*border-radius: 8px;*/
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.v21 .v21-header__mid-nav-item:nth-of-type(1) .v21-header__bot-nav-wrap { /*firefox*/
    height: 582px; /* ! */
    height: 648px; /* нужна */
}
.v21 .v21-header__mid-nav-item:nth-of-type(2) .v21-header__bot-nav-wrap { /*firefox*/
    height: 582px; /* ! */
    height: 606px; /* нужна */
}
/*.v21 .v21-menu_special .v21-header__bot-nav-wrap.v21-header__bot-nav-background {
    background-color: #eff0f1;
}*/
.v21 .v21-header__content .v21-header__bot-nav-wrap--shadow {
    box-shadow: 0 11px 37px -13px rgba(86,103,112,.33);
}
.v21 .v21-menu_special .v21-header__bot-nav-list {
    /*display: grid;*/
    display: flex;
    justify-content: flex-start;

    /*grid-template-columns: 29% 29% 40%;
    grid-template-areas:
            "a c e"
            "b d e";
    grid-column-gap: 0;
    grid-row-gap: 0;
    -ms-grid-rows: auto 0 auto 0 auto;*/

    box-sizing: content-box;
    background: transparent;
    padding: 20px 0 0 0;
    border: none;
    font-family: RF Dewi;
}
.v21 .v21-menu_special .v21-header__bot-nav-list::before {
    background: none;
}
.v21 .v21-menu_special .v21-column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /*flex-grow: 1;*/
    /*max-width: 310px;
    width: 310px;*/
    padding-top: 40px;  /*firefox*/
}
.v21 .v21-menu_special .v21-column-1 {
    order: 1;
    width: 330px;
    max-width: 330px;
}
.v21 .v21-menu_special .v21-column-3 {
    order: 2;
    width: 334px;
    max-width: 334px;
}
.v21 .v21-menu_special .subblock {
    padding-top: 4px;
    padding-bottom: 44px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    position: relative;
}
/*.v21 .v21-menu_special .subblock:nth-of-type(1) {
    grid-area: a;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}
.v21 .v21-menu_special .subblock:nth-of-type(2) {
    grid-area: b;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}
.v21 .v21-menu_special .subblock:nth-of-type(3) {
    grid-area: c;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}
.v21 .v21-menu_special .subblock:nth-of-type(4) {
    grid-area: d;
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}*/
.v21 .v21-menu_special .subblock-1 {
    padding-left: 0;
}
.v21 .v21-menu_special .subblock-2 {
    padding-left: 0;
}
.v21 .v21-menu_special .subblock-3,
.v21 .v21-menu_special .subblock-4 {
    padding-left: 25px;
}
.v21 .v21-menu_special .subblock__verline {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
}
.v21 .v21-menu_special .subblock__horline {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
}
.v21 .v21-menu_special .subblock__verline.verline-1 {
    display: none;
}
.v21 .v21-menu_special .subblock__verline.verline-2 {
    display: none;
}
.v21 .v21-menu_special .subblock__verline.verline-3 {
    left: 0;
    /*background: linear-gradient(0, #b6c0c6 0, transparent 90%, transparent 100%) no-repeat center;*/
    background: linear-gradient(0deg, rgba(50, 50, 50, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.v21 .v21-menu_special .subblock__verline.verline-4 {
    left: 0;
    /*background: linear-gradient(0, transparent 0%, transparent 10%,#b6c0c6  100%) no-repeat center;*/
    background: linear-gradient(180deg, rgba(50, 50, 50, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.v21 .v21-menu_special .horline-1 {
    display: none;
}
.v21 .v21-menu_special .horline-2 {
    top: 0;
    /*background: linear-gradient(90deg, transparent 0, #b6c0c6 100%) no-repeat center;*/
    background: linear-gradient(270deg, rgba(50, 50, 50, 0.2) 55.71%, rgba(83, 83, 83, 0.2) 55.72%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%) no-repeat center;
}
.v21 .v21-menu_special .horline-3 {
    display: none;
}
.v21 .v21-menu_special .horline-4 {
    top: 0;
    /*background: linear-gradient(90deg, #b6c0c6 0, transparent 100%, transparent 100%) no-repeat center;*/
    background: linear-gradient(90deg, rgba(50, 50, 50, 0.2) 0%, rgba(0, 0, 0, 0) 100%) no-repeat center;
}
.v21 .v21-menu_special .v21-menu-aside-block {
    /*grid-area: e;
    -ms-grid-column: 5;
    -ms-grid-row: 1;*/
    /*width: 533px;*/
    width: 480px;
    margin: 0 0 0 auto;
    order: 3;
    position: relative;
    /*padding: 4px 0 0 0;*/
    padding: 40px 0 0 0;  /*firefox*/
}
.v21 .v21-menu_special .v21-menu-aside-block__horline {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
}
.v21 .v21-menu_special .v21-menu-aside-block__horline.horline {
    top: 0;
    top: 20px;  /*firefox*/
    /*background: linear-gradient(90deg, #b6c0c6 0, transparent 80%, transparent 100%) no-repeat center;*/
    /*background: linear-gradient(90deg, transparent 0%, transparent 60%, #cedcdc 80%, transparent 100%) no-repeat center;*/
    /*background: linear-gradient(90deg, rgba(50, 50, 50, 0.2) 55.71%, rgba(83, 83, 83, 0.2) 55.72%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%) no-repeat center;*/
    background: linear-gradient(90deg, rgba(50, 50, 50, 0.2) 0%, rgba(0, 0, 0, 0) 100%) no-repeat center;
    /*border: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(50, 50, 50, 0.2) 55.71%, rgba(83, 83, 83, 0.2) 55.72%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);*/
}
.v21 .v21-menu_special .subblock-title,
.v21 .v21-menu_special .v21-menu-aside-block__subheader {
    margin: 0 0 20px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #566770;
    text-transform: uppercase;
}
.v21 .v21-menu_special .v21-menu-aside-block__subheader {
    margin-bottom: 12px;
}
.v21 .v21-menu_special .v21-menu-aside-block__link {
    margin: 0;
}
.v21 .v21-menu_special .v21-menu-aside-block__header {
    margin: 0 0 44px 0;
    max-width: 405px;
    font-family: RF Dewi;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0;
    color: #00345e;
}
.v21 .v21-menu_special .v21-menu-aside-block__image {
    width: 100%;
}
.v21 .v21-menu_special .v21-header__bot-nav-item:not(:last-of-type) {
    margin-bottom: 18px;
}
.v21 .v21-menu_special .v21-header__bot-nav-link {
    font-family: RF Dewi;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #202020;
}
.v21 .v21-menu_special .v21-header__bot-nav-link:hover {
    color: #00345e;
}
@media screen and (max-width: 767px) {
    .v21 .v21-menu_special .v21-menu-aside-block {
        /*display: none;*/  /* мобильное меню отключено */
    }
}

.v21 .v21-breadcrumbs-gap {
    margin-top: 38px;
}
