.v21 .currency {
    font-family: RF Dewi;
}

.v21 .currency-table {
    color: #202020;
}
.v21 .currency-table--top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 73px;
    width: 100%;
    font-family: RF Dewi;
}
.v21 .currency-table--top h2 {
    margin: 0 0px 0 0;
    max-width: 720px;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0;
}
.v21 .currency-table--top p {
    margin: 0;
    padding-top: 5px;
    /*padding-right: 110px;*/
    max-width: 492px;
    width: 452px;
    font-size: 19px;
    font-style: italic;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0;
}
@media screen and (max-width: 1275px) {
    .v21 .currency-table--top {
        flex-wrap: wrap;
        margin-bottom: 47px;
    }
    .v21 .currency-table--top h2 {
        margin-bottom: 21px;
    }
    /*.v21 .currency-table--item__exchange_grid {
        grid-template-columns: 35% 35% 30%;
    }
    .v21 .currency-table--item__exchange_gridrow {
        grid-template-areas:
            "a a b"
            "c d e";
        -ms-grid-rows: auto 0 auto 0 auto;
    }*/
    .v21 .currency-table--top p {
        width: 100%;
    }
}
/*@media screen and (min-width: 1100px) and (max-width: 1250px) {
    .v21 .currency-table--top p {
        width: 30%;
    }
}*/
.v21 .currency-table--wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.v21 .currency-table--item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 37px 42px 46px 42px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(94.85deg, #f0f3f5 .39%, #e9edef 100%);
}
.v21 .currency-table--item:not(:last-of-type) {
    margin-bottom: 48px;
}
.v21 .currency-table--item__header {
    margin: 0 0 32px 0;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0;
    color: #00345e;
}
.v21 .currency-table--item__exchange {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content max-content max-content max-content;
    grid-column-gap: 0;
    grid-row-gap: 0;
    max-width: 100%;
    width: 100%;
    margin-bottom: 35px;
}
.v21 .currency-table--item__exchange_header {
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid #c9d3d8;
    color: #546770;
    font-size: 14px;
    display: none;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: 47% 33% 20%;
    grid-column-gap: 0;
    width: 100%;
    grid-template-areas:
            "a a b";
    -ms-grid-rows: auto 0 auto 0 auto;
}
@media screen and (min-width: 1100px) {
    .v21 .currency-table--item__exchange_header {
        display: grid;
        grid-template-columns: 48% 13% 13% 13% 13%;
        grid-template-areas:
            "a b c d e";
    }
}
.v21 .currency-table--item__exchange_header-bottom {
    border-bottom: 1px solid #c9d3d8;
}
.v21 .currency-table--item__exchange_grid {
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: 47% 33% 20%;
    grid-column-gap: 0;
    /*grid-row-gap: 10px;*/
    max-width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
@media screen and (max-width: 1100px) {
    .v21 .currency-table--item__exchange_grid {
        grid-template-columns: 35% 35% 30%;
    }
    .v21 .currency-table--item__exchange_gridrow {
        grid-template-areas:
            "a a b"
            "c d e";
        -ms-grid-rows: auto 0 auto 0 auto;
    }
}
@media screen and (max-width: 640px) {
    .v21 .currency-form {
        margin-bottom: 50px;
    }
    .v21 .currency-table--item {
        padding: 20px 10px 40px 10px;
    }
    .v21 .currency-wrap .choices__item--selectable {
        font-size: 19px;
        line-height: 23px;
    }
    .v21 .currency-table--top h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 31px;
        letter-spacing: 0.01em;
    }
    .v21 .currency-table--top p {
        padding-right: 0;
    }
    .v21 .currency-wrap select {
        font-size: 19px;
    }
    .v21 .currency-table--item__header {
        font-size: 24px;
        line-height: 36px;
    }
}

@media screen and (min-width: 1100px) {
    .v21 .currency-table--item__exchange_grid {
        grid-template-columns: 48% 13% 13% 13% 13%;
    }
    .v21 .currency-table--item__exchange_gridrow:nth-child(even) {
        background: rgba(255, 255, 255, 0.6);
        border-radius: 4px;
    }
    .v21 .currency-table--item__exchange_gridrow {
        grid-template-areas:
            "a b c d e";
        -ms-grid-rows: auto;
    }
    .v21 .currency-table--item .currency-table--item__exchange_widerow_1 {
        /*background: rgba(255, 255, 255, 0.6);
        border-radius: 4px;*/
        background: transparent;
    }
    .v21 .currency-table--item__exchange_widerow_2 {
        background: rgba(255, 255, 255, 0.6);
        border-radius: 4px;
    }
}
.v21 .currency-table--item__exchange_gridcell {
    display: flex;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    position: relative;
    color: #202020;
}

.v21 .currency-table--item__exchange_name {
    grid-area: a;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    padding-left: 14px;
}
.v21 .exchange-table__text-note {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
    left: 5px;
    height: 16px;
    width: 16px;
    border: 1px solid #8fa0ac;
    border-radius: 50%;
    background-color: #8fa0ac;
    color: #ffffff;
    cursor: pointer;
}
.v21 .exchange-table__text-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.v21 .exchange-table__text-note sup {
    top: -7px;
}
.v21 .exchange-table__text-subline {
    position: absolute;
    top: 20px;
    /*left: -250px;*/
    width: 245px;
    padding: 10px 16px 15px 16px;
    border-radius: 4px;
    background-color: #f9fbfb;
    color: #202020;
    box-shadow: 0 4px 18px 2px rgb(0, 0, 0, .17);
    font-size: 14px;
    line-height: 21px;
    z-index: 10;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
}
.v21 .exchange-table__text-subline span:first-child {
    flex: 1 0 calc(100% - 22px);
    text-align: left;
}
.v21 .exchange-table__text-subline span:last-child {
    flex: 1 0 100%;
    margin-top: 7px;
    font-weight: 300;
    text-align: left;
}
.v21 .exchange-table__text-subline--close {
    flex: 0 0 22px;
    height: 16px;
    padding: 0 3px;
    cursor: pointer;
}
.v21 .exchange-table__text-subline--show {
    visibility: visible;
    opacity: 1;
}

.v21 .currency-table--item__exchange_code {
    grid-area: b;
    -ms-grid-column: 5;
    -ms-grid-row: 1;
    padding-left: 10px;
}
.v21 .currency-table--item__exchange_buy {
    grid-area: c;
    -ms-grid-column: 5;
    -ms-grid-row: 1;
    padding-left: 10px;
}
.v21 .currency-table--item__exchange_sell {
    grid-area: d;
    -ms-grid-column: 7;
    -ms-grid-row: 1;
    padding-left: 10px;
}
.v21 .currency-table--item__exchange_cbrf {
    grid-area: e;
    -ms-grid-column: 9;
    -ms-grid-row: 1;
    padding-left: 10px;
}
@media screen and (max-width: 1100px) {
    .v21 .currency-table--item__exchange_name,
    .v21 .currency-table--item__exchange_code {
        background: rgba(255, 255, 255, 0.6);
        border-radius: 4px;
    }
    .v21 .currency-table--item__exchange_buy,
    .v21 .currency-table--item__exchange_sell,
    .v21 .currency-table--item__exchange_cbrf {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}
.v21 .currency-table--item__exchange_buy--name,
.v21 .currency-table--item__exchange_sell--name,
.v21 .currency-table--item__exchange_cbrf--name {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}
@media screen and (min-width: 1100px) {
    .v21 .currency-table--item__exchange_buy--name,
    .v21 .currency-table--item__exchange_sell--name,
    .v21 .currency-table--item__exchange_cbrf--name {
        display: none;
    }
}
.v21 .currency-table--item__exchange_buy--value,
.v21 .currency-table--item__exchange_sell--value,
.v21 .currency-table--item__exchange_cbrf--value {
    display: flex;
    font-size: 19px;
}
.v21 .currency-table--item__exchange_cbrf--value {
    color: #202020;
}


.v21 .currency-table--item__exchange_calculator {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: fit-content;
}
.v21 .currency-table--item__exchange_calculator form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.v21 .currency-table--item__exchange_calculator .calculator-operation {
    max-width: 232px;
}
.v21 .currency-table--item__exchange_calculator .calculator-operation--wrap {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}
.v21 .currency-table--item__exchange_calculator .calculator-operation--buy {
    margin-right: 36px;
}
.v21 .currency-table--item__exchange_calculator .calculator-operation--buy,
.v21 .currency-table--item__exchange_calculator .calculator-operation--sell {
    width: 98px;
}
.v21 .currency-table--item__exchange_calculator .calculator-operation--buy label,
.v21 .currency-table--item__exchange_calculator .calculator-operation--sell label {
    display: flex;
    justify-content: space-between;
}
.v21 .currency-table--item__exchange_calculator .operation-box--word {
    font-family: RF Dewi;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
}

.v21 .calculator-operation--radio {
    cursor: pointer;
}
/* для элемента input c type="radio" */
.calculator-operation--radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
/* для элемента label связанного с .calculator-operation--radio */
.calculator-operation--radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
/* создание в label псевдоэлемента  before со следующими стилями */
.calculator-operation--radio>span::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    /*border: 1px solid #c9d3d8;*/
    border-radius: 50%;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
/* стили при наведении курсора на радио */
.calculator-operation--radio>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #a58a57;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.calculator-operation--radio>input:not(:disabled):active+span::before {
    /*background-color: transparent;
    border-color: #a58a57;*/
}
/* стили для радиокнопки, находящейся в фокусе */
.calculator-operation--radio>input:focus+span::before {
    /*box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);*/
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.calculator-operation--radio>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
}
/* стили для радиокнопки */
.calculator-operation--radio>input+span::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 24' fill='none'%3e %3ccircle cx='12.1631' cy='12' r='11.5' stroke='%23c9d3d8'/%3e %3ccircle cx='12.163' cy='12' r='6.5874' fill='%23c9d3d8'/%3e %3c/svg%3e");
    /*border-color: #c9d3d8;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 4 4'%3e%3ccircle r='2' fill='%23c9d3d8'/%3e%3c/svg%3e");*/
}
/* стили для радиокнопки, находящейся в состоянии checked */
.calculator-operation--radio>input:checked+span::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 24' fill='none'%3e %3ccircle cx='12.1631' cy='12' r='11.5' stroke='%23A58A57'/%3e %3ccircle cx='12.163' cy='12' r='6.5874' fill='%23A58A57'/%3e %3c/svg%3e");
    border: none;
    /*border-color: #a58a57;
    background-color: transparent;*/
    /*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 24' fill='none'%3e %3ccircle cx='12.1631' cy='12' r='11.5' stroke='%23A58A57'/%3e %3ccircle cx='12.163' cy='12' r='6.5874' fill='%23A58A57'/%3e %3c/svg%3e");*/
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.calculator-operation--radio>input:disabled+span::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 24' fill='none'%3e %3ccircle cx='12.1631' cy='12' r='11.5' stroke='%23c9d3d8'/%3e %3ccircle cx='12.163' cy='12' r='6.5874' fill='%23c9d3d8'/%3e %3c/svg%3e");
    border: none;
    /*border-color: #c9d3d8;
    background-color: transparent;*/
}
/* стили для надписи в input */
.calculator-operation--radio>input+span {
    font-weight: 300;
    color: #546770;
}
/* стили для надписи в input, когда радиокнопка находится в состоянии checked */
.calculator-operation--radio>input:checked+span {
    font-weight: 600;
    color: #202020;
}


.v21 .currency-table--item__exchange_calculator .calculator-window {
    display: flex;
    justify-content: flex-start;
}
.v21 .currency-table--item__exchange_calculator .calculator-window--left,
.v21 .currency-table--item__exchange_calculator .calculator-window--right {
    background-color: rgba(255, 255, 255, .9);
    border-radius: 4px;
}
.v21 .currency-table--item__exchange_calculator .calculator-window--left,
.v21 .currency-table--item__exchange_calculator .calculator-window--right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    position: relative;
    font-family: RF Dewi;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #546770;
}
.v21 .currency-table--item__exchange_calculator .calculator-window--medium {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px 10px 12px;
    font-family: RF Dewi;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #546770;
    cursor: pointer;
}
.v21 .currency-table--item__exchange_calculator .calculator-window--left__number {
    width: 100%;
}
.v21 .currency-table--item__exchange_calculator .calculator-window--left__number input,
.v21 .currency-table--item__exchange_calculator .calculator-window--right__number input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 16px 0 16px 16px;
    font-family: RF Dewi;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #546770;
}
.v21 .currency-table--item__exchange_calculator .calculator-window--left__code,
.v21 .currency-table--item__exchange_calculator .calculator-window--right__code {
    position: absolute;
    right: 15px;
}
.v21 .currency-table--item__exchange_calculator .calculator-window--right__number {
    width: 100%;
}
.v21 .currency-table--item__exchange_calculator .calculator-window--right__code {}

.v21 .currency-table--item__contacts {
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}
.v21 .currency-table--item__horline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #c9d3d8;
}
.v21 .currency-table--item__textbox {
    margin-bottom: 23px;
    font-family: RF Dewi;
    letter-spacing: 0.01em;
    position: relative;
    order: 4;
}
.v21 .currency-table--item__subheader {
    margin: 0 0 9px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.v21 .currency-table--item__textbox div {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
}
.v21 .currency-table--item__textbox .v21-p--pauses {
    position: relative;
    /*text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: #202020;*/
}
.v21 .currency-table--item__textbox .v21-p--pauses span {
    border-bottom: 1px dotted #202020;
    cursor: pointer;
}
.v21 .currency-table--item__textbox .v21-p--pauses__list {
    display: none;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 12px;
    position: absolute;
    left: 30%;
    background: #eff5fa;
    border-radius: 7px;
    z-index: 100;
}
.v21 .currency-table--item__textbox .v21-p--pauses:hover {
    /*text-decoration-line: none;*/
    transition: all .5s;
}
.v21 .currency-table--item__textbox .v21-p--pauses:hover span {
    border-bottom: none;
    transition: all .5s;
}
.v21 .currency-table--item__textbox .v21-p--pauses:hover .v21-p--pauses__list {
    display: block;
}
.v21 .currency-table--item__geobox {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-family: RF Dewi;
    order: 6;
}
.v21 .currency-table--item__geobox_link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.v21 .currency-table--item__geobox_link:first-child {
    margin-right: 41px;
}
.v21 .currency-table--item__geobox .currency-table--item__geobox_link a {
    font-family: RF Dewi;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #202020;
}
.v21 .currency-table--item__geobox_link img {
    margin-right: 8px;
    height: 27px;
}
.v21 .currency-table--item__link {
    display: flex;
    justify-content: flex-start;
    position: relative;
    order: 2;
}
.v21 .currency-table--item__link a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-family: RF Dewi;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    color: #00345e;
}
.v21 .currency-table--item__link a:hover {
    color: #a58a57;
}
.v21 .currency-table--item__link:hover svg path {
    fill: #a58a57;
}
.v21 .currency-table--item__link .details__arrow {
    position: relative;
    top: 7px;
    right: -5px;
}

@media screen and (max-width: 840px) {
    .v21 .currency-table--item__exchange_calculator form {
        flex-wrap: wrap;
    }
    .v21 .currency-table--item__exchange_calculator .calculator-operation {
        width: 100%;
        margin-bottom: 22px;
    }
    .v21 .currency-table--item__exchange_calculator .calculator-window {
        flex-wrap: wrap;
        width: 100%;
    }
    .v21 .currency-table--item__exchange_calculator .calculator-window--medium {
        display: none;
    }
    .v21 .currency-table--item__exchange_calculator .calculator-window--left {
        margin-bottom: 22px;
    }
    .v21 .currency-table--item__exchange_calculator .calculator-window--left,
    .v21 .currency-table--item__exchange_calculator .calculator-window--right {
        width: 100%;
    }
    .v21 .currency-table--item__textbox {
        padding-top: 22px;
        width: 100%;
    }
    .v21 .currency-table--item__link {
        padding-top: 8px;
        margin-bottom: 26px;
        width: 100%;
    }
}

@media screen and (min-width: 760px) {
    /*.v21 .currency-table--item {
        padding-right: 70px;
    }*/
    .v21 .currency-table--item__geobox {
        margin-bottom: 70px;
    }
    .v21 .currency-table--item__link {
        order: 8;
    }
    .v21 .currency-table--item__textbox .currency-table--item__horline {
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    .v21 .currency-table--item__exchange {
        margin-bottom: 0;
        width: 60%;
    }
    .v21 .currency-table--item__contacts {
        width: 27%;
    }
}

@media screen and (min-width: 1250px) {
    .v21 .currency-table--item__contacts {
        /*width: 379px;*/
        width: 415px;
    }
}

@media screen and (min-width: 1380px) {
    .v21 .currency-table--item__exchange {
        width: 810px;
    }
}
