/* index_block_1.php */
.v21 .v21-container .v21-scheta-block1 {
    margin: 43px 0 0 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 26px;
    column-gap: 30px;
    font-family: RF Dewi;
}
.v21 .v21-scheta-block1__left,
.v21 .v21-scheta-block1__right {
    flex: 0 0 330px;
    padding: 0;
    display: flex;
    position: relative;
}
.v21 .v21-scheta-block1__left svg,
.v21 .v21-scheta-block1__right svg {
    margin-right: 10px;
    width: 28px;
    position: relative;
    top: 4px;
}
.v21 .v21-scheta-block1__left--box,
.v21 .v21-scheta-block1__right--box {
}
.v21 .v21-scheta-block1__left--title,
.v21 .v21-scheta-block1__right--title {
    margin: 0 0 5px 0;
    font-size: 19px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0;
}
.v21 .v21-scheta-block1__left--text,
.v21 .v21-scheta-block1__right--text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
}

@media screen and (min-width: 550px) {
    .v21 .v21-scheta-block1__left,
    .v21 .v21-scheta-block1__right {
        flex-grow: 1;
    }
}
@media screen and (min-width: 768px) {
    .v21 .v21-scheta-wide-container {
        margin-top: 70px;
    }
    .v21 .v21-container .v21-scheta-block1 {
        flex-wrap: nowrap;
        margin-top: 70px;
    }
}
@media screen and (min-width: 1024px) {
    .v21 .v21-scheta-wide-container {
        margin-top: 14px;
    }
    .v21 .v21-container .v21-scheta-block1 {
        /*column-gap: 138px;*/
        column-gap: 0;
    }
    .v21 .v21-scheta-block1__left,
    .v21 .v21-scheta-block1__right {
        flex-grow: 0;
        flex-basis: 50%;
    }
    .v21 .v21-scheta-block1__left--box,
    .v21 .v21-scheta-block1__right--box {
        max-width: 430px;
    }
}
@media screen and (min-width: 1280px) {
    .v21 .v21-scheta-wide-container {
        margin-top: 0;
    }
    .v21 .v21-container .v21-scheta-block1 {
        /*column-gap: 154px;*/
        column-gap: 20px;
    }
}
@media screen and (min-width: 1440px) {
    .v21 .v21-scheta-wide-container {
        margin-top: 60px;
    }
    .v21 .v21-scheta-block1__left,
    .v21 .v21-scheta-block1__right {
        flex-basis: 33%;
    }
}


/* index_block_2.php */
.v21 .v21-container .v21-scheta-block2 {
    margin: 277px 0 0 0;
    position: relative;
    font-family: RF Dewi;
}
.v21 .v21-scheta-block2__image {
    position: absolute;
    right: 0;
    /*top: -185px;*/
    top: -225px;
}
.v21 .v21-scheta-block2__image--box {
    width: 238px;
}
.v21 .v21-scheta-block2__image--img {}
.v21 .v21-scheta-block2__image--img_768 {
    display: none;
}
.v21 .v21-scheta-block2__image--img_1024 {
    display: none;
}
.v21 .v21-scheta-block2__image--img_1280 {
    display: none;
}
.v21 .v21-scheta-block2__title {
    margin: 0;
    font-family: Canela Deck LC;
    font-size: 38px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0;
    color: #00345e;
}
.v21 .v21-scheta-block2__title:last-of-type {
    margin: 0 0 31px 0;
}
.v21 .v21-scheta-block2__title.title-1 {
    /*max-width: 190px;*/
    max-width: 230px;
    margin: 0;
}
.v21 .v21-scheta-block2__title span {
    font-style: italic;
}
.v21 .v21-scheta-block2__title.title-2 {
    max-width: 320px;
}
.v21 .v21-scheta-block2__subtitle {
    margin: 0 0 20px 0;
    max-width: 568px;
    font-family: RF Dewi;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0;
}
.v21 .v21-scheta-block2__wrap {
    margin: 0 0 34px 0;
    padding-left: 22px;
    /*font-size: 19px;
    font-weight: 300;*/
    line-height: 24px;
    letter-spacing: 0;
}
.v21 .v21-scheta-block2__wrap--li {
    margin: 0 0 10px 0;
}
.v21 .v21-scheta-block2__link {
}
.v21 .v21-scheta-block2__link--details {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    color: #00345e;
}
.v21 .v21-scheta-block2__link--details span:hover {
    color: #a58a57;
}
.v21 .v21-scheta-block2__link--details:hover svg path {
    fill: #a58a57;
}
.v21 .v21-scheta-block2__link--details__arrow {
    position: relative;
    right: -6px;
    top: 7px;
}

@media screen and (min-width: 768px) {
    .v21 .v21-scheta-block2__image {
        top: -215px;
    }
    .v21 .v21-scheta-block2__image--box {
        width: 354px;
    }
    .v21 .v21-scheta-block2__image--img {
        display: none;
    }
    .v21 .v21-scheta-block2__image--img_768 {
        display: block;
    }
    .v21 .v21-scheta-block2__title {
        font-size: 60px;
        line-height: 66px;
    }
    .v21 .v21-scheta-block2__title.title-1 {
        /*max-width: 280px;*/
        max-width: 340px;
    }
    .v21 .v21-scheta-block2__title span {
        max-width: 280px;
    }
    .v21 .v21-scheta-block2__title.title-2 {
        max-width: 450px;
    }
    .v21 .v21-scheta-block2__wrap {
        margin-bottom: 37px;
    }
}
@media screen and (min-width: 1024px) {
    .v21 .v21-container .v21-scheta-block2 {
        margin-top: 160px;
    }
    .v21 .v21-scheta-block2__image {
        top: 140px;
    }
    .v21 .v21-scheta-block2__image--box {
        width: 384px;
    }
    .v21 .v21-scheta-block2__image--img_768 {
        display: none;
    }
    .v21 .v21-scheta-block2__image--img_1024 {
        display: block;
    }
    .v21 .v21-scheta-block2__title.title-1 {
        max-width: 470px;
    }
    .v21 .v21-scheta-block2__title span {
        max-width: 470px;
    }
    .v21 .v21-scheta-block2__title.title-2 {
        max-width: 590px;
    }
}
@media screen and (min-width: 1280px) {
    .v21 .v21-container .v21-scheta-block2 {
        width: 1124px;
        margin-left: auto;
        margin-right: auto;
    }
    .v21 .v21-scheta-block2__image {
        top: 200px;
    }
    .v21 .v21-scheta-block2__image--box {
        width: 458px;
    }
    .v21 .v21-scheta-block2__image--img_1024 {
        display: none;
    }
    .v21 .v21-scheta-block2__image--img_1280 {
        display: block;
    }
}


/* index_block_3.php */
.v21 .v21-container .v21-scheta-block3 {
    margin: 151px 0 0 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 70px;
}
.v21 .v21-scheta-block3__left {
    /*flex: 1 1 100%;*/
    margin: 0 auto;
    border-radius: 8px;
    /*background: linear-gradient(30.13deg, rgba(255, 255, 255, .65) 22.66%, rgba(139, 167, 190, 0) 100%);*/
    background: linear-gradient(30deg, rgba(255, 255, 255, 0) 0, rgba(139, 167, 190, 0.15));
    box-shadow: 0 14px 42px -6px rgba(82,102,119,.24);
    /*-webkit-backdrop-filter: blur(20px);*/
    /*backdrop-filter: blur(20px);*/
    /*width: 342px;
    height: 687px;*/
    position: relative;
    /*z-index: 10;*/
}
.v21 .v21-scheta-block3__left--images {
    /*width: 281px;*/
    /*height: 334px;*/
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    /*z-index: 25;*/
    /*-webkit-backdrop-filter: blur(20px);*/
    /*backdrop-filter: blur(20px);*/
}
.v21 .v21-scheta-block3__left--blur {
    width: 100%;
    height: 335px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    position: absolute;
    z-index: 7;
}
.v21 .v21-scheta-block3__left--frgd {
    /*width: 282px;*/
    height: 335px;
    /*-webkit-backdrop-filter: blur(20px);*/
    /*backdrop-filter: blur(20px);*/
    position: relative;
    /*position: absolute;*/
    top: 40px;
    z-index: 20;
}
.v21 .v21-scheta-block3__left--shield {
    width: 255px;
    height: 334px;
    background: rgba(0, 52, 94, .04);
    border-radius: 0 0 190px 190px;
    /*-webkit-backdrop-filter: blur(20px);*/
    /*backdrop-filter: blur(20px);*/
    position: absolute;
    /*position: relative;*/
    z-index: 10;
}
.v21 .v21-scheta-block3__left--bkgd {
    width: 257px;
    height: 256px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /*position: relative;*/
    position: absolute;
    top: -43px;
    z-index: 5;
}
/*.v21 .v21-scheta-block3__left--bkgd-image {
    background: url("/corporative-clients/bankovskoe-obsluzhivanie/scheta-dlya-biznesa/images/watercolor_texture_bkgd.png") center no-repeat;
}*/
.v21 .v21-scheta-block3__left--bkgdimg {}
.v21 .v21-scheta-block3__left--bkgdimg_768 {
    display: none;
}
.v21 .v21-scheta-block3__left--frgdimg {}
.v21 .v21-scheta-block3__left--frgdimg_768 {
    display: none;
}
.v21 .v21-scheta-block3__left--wrap {
    padding: 22px 16px 39px 16px;
    font-family: RF Dewi;
}
.v21 .v21-scheta-block3__left--title {
    margin: 0 0 20px 0;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0;
    color: #202020;
}
.v21 .v21-scheta-block3__left--text {
    margin: 0 0 34px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
}
.v21 .v21-scheta-block3__left--link {}

.v21 .v21-scheta-block3__right {
    margin: 0 auto;
    padding: 51px 20px 42px 18px;
    background: #e1e7ec;
    border-radius: 8px;
}
.v21 .v21-scheta-block3__right--images {
    padding-left: 26px;
}
.v21 .v21-scheta-block3__right--frgdimg {}
.v21 .v21-scheta-block3__right--frgdimg_768 {
    display: none;
}
.v21 .v21-scheta-block3__right--wrap {
    margin-top: 32px;
    font-family: RF Dewi;
}
.v21 .v21-scheta-block3__right--title {
    margin: 0 0 20px 0;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0;
}
.v21 .v21-scheta-block3__right--text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
    .v21 .v21-scheta-block3__left,
    .v21 .v21-scheta-block3__right {
        width: 570px;
    }
    .v21 .v21-scheta-block3__left--images {
        /*width: 419px;*/
        /*height: 396px;*/
    }
    .v21 .v21-scheta-block3__left--blur {
        height: 396px;
    }
    .v21 .v21-scheta-block3__left--shield {
        width: 380px;
        height: 396px;
    }
    .v21 .v21-scheta-block3__left--bkgd {
        width: 410px;
        height: 409px;
        top: -60px;
    }
    .v21 .v21-scheta-block3__left--bkgdimg {
        display: none;
    }
    .v21 .v21-scheta-block3__left--bkgdimg_768 {
        display: block;
    }
    .v21 .v21-scheta-block3__left--frgdimg {
        display: none;
    }
    .v21 .v21-scheta-block3__left--frgdimg_768 {
        display: block;
    }
    .v21 .v21-scheta-block3__left--frgd {
        width: 419px;
        height: 396px;
    }
    .v21 .v21-scheta-block3__left--wrap {
        padding: 15px 62px 55px 62px;
    }
    .v21 .v21-scheta-block3__left--title {
        font-size: 32px;
        line-height: 42px;
    }
    .v21 .v21-scheta-block3__right {
        padding: 74px 60px 71px 65px;
    }
    .v21 .v21-scheta-block3__right--images {
        padding-left: 3px;
    }
    .v21 .v21-scheta-block3__right--frgdimg {
        display: none;
    }
    .v21 .v21-scheta-block3__right--frgdimg_768 {
        display: block;
    }
    .v21 .v21-scheta-block3__right--title {
        font-size: 32px;
        line-height: 42px;
    }
}
@media screen and (min-width: 810px) {
    .v21 .v21-scheta-block3__left {
        margin-left: 33px;
        margin-right: auto;
    }
    .v21 .v21-scheta-block3__right {
        margin-left: auto;
        margin-right: 33px;
    }
}
@media screen and (min-width: 1024px) {
    .v21 .v21-container .v21-scheta-block3 {
        margin-top: 182px;
        column-gap: 30px;
    }
}
@media screen and (min-width: 1280px) {
    .v21 .v21-container .v21-scheta-block3 {
        width: 1170px;
        margin-top: 231px;
        margin-left: auto;
        margin-right: auto;
    }
    .v21 .v21-scheta-block3__left,
    .v21 .v21-scheta-block3__right {
        margin-left: 0;
        margin-right: 0;
    }
    .v21 .v21-scheta-block3__right {
        position: relative;
        top: 165px;
    }
}
@media screen and (min-width: 1440px) {
    .v21 .v21-scheta-block3__right {
        top: 220px;
    }
}


/* index_block_4.php */
.v21 .v21-container .v21-scheta-block4 {
    margin: 129px 0 0 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    /*border: 1px solid chocolate;*/
}
.v21 .v21-scheta-block4__verline {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
}
.v21 .v21-scheta-block4__horline {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
}
.v21 .v21-scheta-block4__horline.v21-horline-1 {
    bottom: 0;
    background: linear-gradient(90deg, transparent 0%, #a58a57 50%, transparent 100%) no-repeat center;
}
.v21 .v21-scheta-block4__verline.v21-verline-1 {
    display: none;
    right: 0;
    background: linear-gradient(0, transparent 0%, #a58a57 50%, transparent 100%) no-repeat center;
}
.v21 .v21-scheta-block4 .v21-scheta-block4__button {
    display: block;
    margin: 0;
    padding: 18px 42px 18px 42px;
    width: fit-content;
    font-family: RF Dewi;
    color: #202020;
    border-color: #a58a57;
    background-color: transparent;
}
.v21 .v21-scheta-block4.js-color-switch .v21-scheta-block4__button {
    color: #ffffff;
    border-color: #ffffff;
    transition: .9s;
}
.v21 .v21-scheta-block4.js-color-switch .v21-scheta-block4__button:hover {
    color: #00345e;
    background-color: #ffffff;
    border-color: #00345e;
    transition: .9s;
}
.v21 .v21-scheta-block4__left {
    display: flex;
    justify-content: flex-start;
    column-gap: 23px;
    padding-bottom: 42px;
    position: relative;
}
.v21 .v21-scheta-block4__left--sign {
    flex: 0 0 62px;
    position: relative;
}
.v21 .v21-scheta-block4__left--block {
    position: relative;
    font-family: RF Dewi;
}
.v21 .v21-scheta-block4__left--text {
    margin: 0 0 24px 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: #202020;
}
.v21 .v21-scheta-block4__right {
    display: flex;
    justify-content: flex-start;
    column-gap: 13px;
    padding-top: 40px;
    position: relative;
}
.v21 .v21-scheta-block4__right--sign {
    flex: 0 0 71px;
    position: relative;
    top: -15px;
}
.v21 .v21-scheta-block4__right--block {
    font-family: RF Dewi;
}
.v21 .v21-scheta-block4__right--text {
    margin: 0 0 24px 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: #202020;
}
.v21 .js-color-switch .v21-scheta-block4__left--text,
.v21 .js-color-switch .v21-scheta-block4__right--text {
    color: #ffffff;
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
    .v21 .v21-container .v21-scheta-block4 {
        margin-top: 158px;
    }
    .v21 .v21-scheta-block4__left--text,
    .v21 .v21-scheta-block4__right--text {
        font-size: 32px;
        line-height: 42px;
    }
}
@media screen and (min-width: 1024px) {
    .v21 .v21-container .v21-scheta-block4 {
        margin-top: 160px;
        flex-wrap: nowrap;
        align-items: flex-end;
        margin-left: auto;
        margin-right: auto;
        max-width: 1174px;
        width: 964px;
    }
    .v21 .v21-scheta-block4__verline.v21-verline-1 {
        display: block;
    }
    .v21 .v21-scheta-block4__horline.v21-horline-1 {
        display: none;
    }
    .v21 .v21-scheta-block4__left,
    .v21 .v21-scheta-block4__right {
        flex: 1 1 482px;
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .v21 .v21-scheta-block4__left {
        padding-bottom: 0;
        padding-right: 60px;
    }
    .v21 .v21-scheta-block4__right {
        padding-top: 0;
        padding-left: 50px;
    }
    .v21 .v21-scheta-block4__right--sign {
        top: -25px;
    }
}
@media screen and (min-width: 1280px) {
    .v21 .v21-container .v21-scheta-block4 {
        width: 1171px;
        margin-top: 360px;
    }
    .v21 .v21-scheta-block4__right {
        padding-left: 70px;
    }
    .v21 .v21-scheta-block4__right--sign {
        height: 71px;
        top: 0;
    }
}
@media screen and (min-width: 1440px) {
    .v21 .v21-container .v21-scheta-block4 {
        margin-top: 431px;
    }
}


/* index_block_bottom.php */
.v21 .v21-scheta-popproducts--top {
    margin: 100px 0 0 0;
}
@media screen and (min-width: 768px) {
    .v21 .v21-scheta-popproducts--top {
        margin-top: 160px;
    }
}
@media screen and (min-width: 1024px) {
    .v21 .v21-scheta-popproducts--top {
        margin-top: 112px;
    }
}
@media screen and (min-width: 1440px) {
    .v21 .v21-scheta-popproducts--top {
        margin-top: 228px;
    }
}


.v21 .rko-doc {
    font-family: RF Dewi;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #202020;
}
.v21 .rko-doc .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.v21 .rko-doc__block {
    margin-bottom: 62px;
}
.v21 .rko-doc__rate {}
.v21 .rko-doc__header {}
.v21 .rko-doc__title {
    margin: 0 0 30px 0;
    font-size: 19px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.01em;
}
.v21 .rko-doc__items {}
.v21 .rko-doc__items .ls-documents__item {
    width: 100%;
}
.v21 .rko-doc__items .ls-documents__item .ls-documents__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
}
.v21 .rko-doc__items .ls-documents__item .ls-documents__link {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #00345e;
}
.v21 .rko-doc__contract {}
.v21 .rko-doc__push-bank {}
.v21 .rko-doc__client-bank {}
.v21 .rko-doc__all {
    display: flex;
    position: relative;
    color: #202020;
}
.v21 .rko-doc__all--link-button {
    display: block;
    margin: 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    color: #00345e;
}
.v21 .rko-doc__all--link-details {
    display: flex;
    justify-content: flex-end;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #00345e;
}
.v21 .rko-doc__all--link-details span:hover {
    color: #a58a57;
}
.v21 .rko-doc__all--link-details:hover svg path {
    fill: #a58a57;
}
.v21 .rko-doc__all--link-arrow {
    position: relative;
    right: -4px;
    top: 7px;
}

@media all and (max-width: 929px) {
    .rko-doc__block {
        margin-bottom: 24px;
    }
}


.v21 .eq-docs {
    margin-bottom: 100px;
    color: #202020;
    font-family: RF Dewi;
}
.v21 .eq-docs__title {
    margin: 0 0 30px 0;
    font-size: 19px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.01em;
}
.v21 .eq-docs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}
.v21 .eq-docs__list .ls-documents__item {
    width: 100%;
}
.v21 .eq-docs__list .ls-documents__item .ls-documents__name {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.01em;
}
.v21 .eq-docs__list .ls-documents__item .ls-documents__link {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #00345e;
}

@media screen and (min-width: 480px) {
    .v21 .eq-docs {
        margin-bottom: 120px;
    }
}
@media screen and (min-width: 768px) {
    .v21 .eq-docs__list {
        justify-content: flex-start;
        column-gap: 15px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .v21 .eq-docs__list .ls-documents__item {
        width: 48%;
        /*flex: 1 1 calc((100% / 2) - 15px);*/
    }
    .v21 .eq-docs__list .ls-documents__item:not(:nth-of-type(2n+1)) {
        padding-left: 15px;
    }
}
@media screen and (min-width: 1024px) {
    .v21 .eq-docs__list .ls-documents__item {
        width: 32%;
        /*flex: 1 1 calc((100% / 3) - (2 * 15px));*/
    }
    .v21 .eq-docs__list .ls-documents__item:not(:nth-of-type(3n+1)) {
        padding-left: 15px;
    }
    .v21 .eq-docs__list .ls-documents__item:nth-of-type(3n+3) {
        padding-left: 30px;
    }
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1440px) {
}

@media all and (min-width: 580px) {
}
