.v21 .eq-docs {
    margin-bottom: 100px;
    color: #202020;
    font-family: RF Dewi;
}
.v21 .eq-docs__title {
    margin: 0 0 30px 0;
    font-size: 19px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.01em;
}
.v21 .eq-docs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}
.v21 .eq-docs__list .ls-documents__item {
    width: 100%;
}
.v21 .eq-docs__list .ls-documents__item .ls-documents__name {
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.01em;
}
.v21 .eq-docs__list .ls-documents__item .ls-documents__link {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #00345e;
}
.v21 .archive-section {
    display: flex;
    justify-content: flex-start;
    font-family: RF Dewi;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #00345e;
}
.v21 .archive-section span:hover {
    color: #a58a57;
}
.v21 .archive-section:hover span {
    color: #a58a57;
}
.v21 .archive-section:hover svg path {
    fill: #a58a57;
}
.v21 .archive-section__arrow {
    position: relative;
    right: -4px;
    top: 7px;
}

@media screen and (min-width: 480px) {
    .v21 .eq-docs {
        margin-bottom: 120px;
    }
}
@media screen and (min-width: 768px) {
    .v21 .eq-docs__list {
        justify-content: flex-start;
        column-gap: 15px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .v21 .eq-docs__list .ls-documents__item {
        width: 48%;
        /*flex: 1 1 calc((100% / 2) - 15px);*/
    }
    .v21 .eq-docs__list .ls-documents__item:not(:nth-of-type(2n+1)) {
        padding-left: 15px;
    }
}
@media screen and (min-width: 1024px) {
    .v21 .eq-docs__list .ls-documents__item {
        width: 32%;
        /*flex: 1 1 calc((100% / 3) - (2 * 15px));*/
    }
    .v21 .eq-docs__list .ls-documents__item:not(:nth-of-type(3n+1)) {
        padding-left: 15px;
    }
    .v21 .eq-docs__list .ls-documents__item:nth-of-type(3n+3) {
        padding-left: 30px;
    }
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1440px) {
}

@media all and (min-width: 580px) {
}
