.block-section {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
	margin: 0 0 50px 0;
}
.block-section .block-section--header {
    margin: 0 0 44px 0;
    width: 100%;
    text-align: center;
    font-family: RF Dewi;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0;
    color: #00345e;
}
.block-section .block-section--wrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    margin: 0;
    padding-left: 0;
}
.block-section .block-section--item {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    column-gap: 30px;
    flex-wrap: nowrap;
    padding-left: 0;
}
.block-section .block-section--item__img {
    flex: 0 0 91px;
}
.block-section .block-section--item__text {
    flex: 1 1 auto;
    max-width: 380px;
    font-weight: 600;
}
.js-color-switch .block-section .block-section--item__text {
    color: #ffffff;
}

@media screen and (min-width: 768px) {
	.block-section {
		display: flex;
		flex-direction: column;
		column-gap: 20px;
		margin-bottom: 110px;
    }
    .block-section .block-section--header {
        margin-bottom: 63px;
        font-size: 40px;
        line-height: 52px;
    }
}
@media screen and (min-width: 1024px) {
    .block-section .block-section--wrap {
        flex-wrap: wrap;
    }
    .block-section .block-section--item {
        flex-basis: 50%;
    }
}
