.v21 .faq-questions {
    margin: 0 auto;
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
}
.v21 .faq-questions-block {
    width: 100%;
}
.v21 .faq-questions .faq-questions--header {
    margin: 0 auto 32px auto;
    /*flex-grow: 0;*/
    /*max-width: 455px;*/
    font-family: Canela Deck LC;
    font-size: 36px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0em;
    color: #000000;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .v21 .faq-questions .faq-questions--header {
        margin-bottom: 64px;
    }
}
@media screen and (min-width: 1024px) {
    .v21 .faq-questions {
        width: 930px;
    }
}
@media screen and (min-width: 1366px) {
    .v21 .faq-questions .faq-questions--header {
        margin-bottom: 120px;
    }
}

/*@media screen and (max-width: 479px) {
    .v21 .faq-questions .faq-questions--header {
        margin-bottom: 32px;
    }
}*/

.v21 .faq-questions--block {
    width: 100%;
    /*max-width: 810px;
    flex-grow: 1;*/
}
.v21 .faq-questions .faq-questions--block__li {
    /*border-bottom: 1px solid rgba(32, 32, 32, .1);*/
    border-bottom: 1px solid #666666;
}
/*.v21 .faq-questions--block__li:nth-child(2n+1) {
    background-color: #F9FBFB;
}*/
.v21 .faq-questions--block__item {
    padding: 10px 16px 12px 16px;
}
.v21 .faq-questions--block__item-title {
    margin: 0;
    padding-right: 16px;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #000000;
    cursor: pointer;
    position: relative;
}
.v21 .faq-questions .faq-questions--block__item-mark {
    /*display: block;
    line-height: 25px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 14px;*/
    padding: 0;
    width: 10px;
    height: 6px;
    position: absolute;
    right: 16px;
    top: 30px;
}
.v21 .faq-questions .faq-questions--block__item-mark::before {
    position: absolute;
    top: 0;
}
.v21 .faq-questions--block__item.is-active {}
.v21 .faq-questions--block__item-header {
    margin: 0;
    padding-right: 15px;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #202020;
    cursor: pointer;
    position: relative;
}
.v21 .faq-questions--block__item-header::before {
    content: "";
    position: absolute;
    width: 8.5px;
    height: 8.5px;
    right: 0;
    top: 10px;
    border-top: 1.5px solid #202020;
    border-right: 1.5px solid #202020;
    transform: rotate(135deg);
    -webkit-transition: background-color 1s, -webkit-transform .5s;
    transition: background-color 1s, transform .5s;
}
@media screen and (min-width: 768px) {
    .v21 .faq-questions--block__item-header {
        margin-bottom: 64px;
        /*font-size: 36px;
        line-height: 50px;*/
    }
}
@media screen and (min-width: 1366px) {
    .v21 .faq-questions--block__item.is-active {
        background-color: #EBEFF3;
        border-radius: 8px;
    }
}

.v21 .show-answer__rotate::before {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.v21 .faq-questions--block__item-box {
    display: none;
    margin: 15px 0 10px 0;
    font-family: RF Dewi;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #666666;
}
.v21 .show-answer {
    margin-bottom: 17px;
    display: block;
}
