.v21 .tariffs-block {
	max-width: 768px;
	margin: 0 auto 0 auto;
	padding-top: 40px;
}
.v21 .tariffs-block--hr {
	margin: 172px 0 108px 0;
}
.v21 .tariffs-block .tariffs-block--header {
	margin: 0 0 40px 0;
	width: 100%;
	font-family: RF Dewi;
	font-size: 32px;
	font-weight: 400;
	line-height: 42px;
	letter-spacing: 0;
	text-align: center;
	color: #202020;
}
.v21 .tariffs-block--wrap {
	/*display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;*/
	/*width: 768px;*/
}
.v21 .tariffs-block--nav {
	display: flex;
	justify-content: center;
	column-gap: 15px;
	border-top: 1px solid rgba(32, 32, 32, .1);
	border-bottom: 1px solid rgba(32, 32, 32, .1);
	font-weight: 600;
	line-height: 24px;
	/*width: 572px;*/
}
.v21 .tariffs-block--nav_tab {
	flex: 0 0 175px;
	width: fit-content;
	padding: 22px 0;
	color: #546770;
	cursor: pointer;
}
.v21 .tariffs-block--nav_tab:not(:last-child) {
	/*margin-right: 35px;*/
}
.v21 .tariffs-block--nav_tab__active {
	color: #202020;
	border-bottom: 3px solid #a58a57;
}
.v21 .tariffs-block--tables {
	width: 100%;
	border-bottom: 1px solid rgba(32, 32, 32, .1);
}
.v21 .tariffs-block--table {
	display: none;
}
.v21 .tariffs-block--table .tariffs-block--item {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: 0;
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	border-bottom: 1px solid #bbc5cd;
}
/*.v21 .tariffs-block--item:nth-child(even) {
	background-color: #e9ecee;
}*/
.v21 .tariffs-block .tariffs-item--header {
	margin: 0;
	padding: 16px 5px 16px 0;
	/*border-right: 1px solid rgba(32, 32, 32, .1);*/
}
.v21 .tariffs-item--text {
	padding: 16px 0 16px 0;
}
.v21 .tariffs-item--paragraph {
	margin: 7px 0 0 0;
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	line-height: 29px;
	letter-spacing: 0;
	text-align: right;
}
.v21 .tariffs-item--subparagraph {
	margin: 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
	color: #546770;
	text-align: right;
}
.v21 .tariffs-block--active {
	display: block;
}

@media screen and (max-width: 620px) {
	.v21 .tariffs-block--nav {
		justify-content: flex-start;
		overflow-x: auto;
		/*scrollbar-width: none;*/
	}
	.v21 .tariffs-block--nav_tab:not(:last-child) {
		/*margin-right: 15px;*/
	}
}
@media screen and (min-width: 768px) {
	.v21 .tariffs-block--wrap {
		width: 100%;
	}
	.v21 .tariffs-block--nav {
		column-gap: 35px;
		width: 100%;
	}
	.v21 .tariffs-block--table .tariffs-block--item {
		/*grid-template-columns: repeat(2, 1fr);*/
		grid-template-columns: 60% 40%;
		grid-column-gap: 0;
	}
}
@media screen and (min-width: 1024px) {
	.v21 .tariffs-block {
		padding-top: 50px;
		max-width: 964px;
		width: 964px;
	}
	.v21 .tariffs-block .tariffs-block--header {
		margin-bottom: 64px;
		font-size: 40px;
		line-height: 48px;
	}
	.v21 .tariffs-block--table .tariffs-block--item {
		/*grid-template-columns: repeat(2, 1fr);*/
		grid-template-columns: 60% 40%;
		grid-column-gap: 0;
	}
}
@media screen and (min-width: 1280px) {
	.v21 .tariffs-block {
		width: 1170px;
		max-width: 1170px;
	}
	.v21 .tariffs-item--paragraph {
		font-size: 32px;
		line-height: 38px;
	}
}
