.v21 .business-account-topblock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 24px;
    position: relative;
}
.v21 .business-account-topblock__block {
    order: 5;
    max-width: 100%;
    font-family: Canela Deck LC;
}
.v21 .business-account-tileblock__grid--verline {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
}
.v21 .business-account-topblock__header {
    margin: 0 0 24px 0;
    font-size: 42px;
    font-weight: 300;
    line-height: 42px;
    letter-spacing: 0;
    color: #00345e;
}
.v21 .business-account-topblock__content {
    margin: 0 0 32px 0;
    font-family: RF Dewi;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #000000;
}
.v21 .business-account-topblock__buttons {
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
    row-gap: 40px;
    flex-wrap: wrap;
}
.v21 .business-account-topblock .business-account-topblock__button {
    display: block;
    margin: 0;
    padding: 11px 16px 11px 16px;
    width: fit-content;
    font-family: RF Dewi;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
}
.v21 .business-account-topblock .business-account-topblock__button.button-1 {
    color: #f9fbfb;
}
.v21 .business-account-topblock .business-account-topblock__button.button-1:hover {
    color: #00345e;
}
.v21 .business-account-topblock .business-account-topblock__button.button-2 {
    background-color: transparent;
    color: #00345e;
}
.v21 .business-account-topblock .business-account-topblock__button.button-2:hover {
    background-color: #00345e;
    color: #f9fbfb;
}
.v21 .business-account-topblock__image {
    order: 3;
}
.v21 .business-account-topblock__image--1366,
.v21 .business-account-topblock__image--1024,
.v21 .business-account-topblock__image--768,
.v21 .business-account-topblock__image--480 {
    display: none;
    text-align: center;
}
.v21 .business-account-topblock__image--320 {
    display: block;
    text-align: center;
}


.v21 .v21-container .business-account-tileblock {
    margin: 114px 0 0 0;
}
.v21 .business-account-tileblock__topbox {
    margin: 0 0 46px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.v21 .business-account-tileblock__topbox--left {
    display: flex;
    justify-content: space-between;
    font-family: Canela Deck LC;
    color: #00345e;
}
.v21 .business-account-tileblock__topbox--left .figure-3-big {
    display: none;
    margin-right: 9px;
}
.v21 .business-account-tileblock__topbox--left .figure-3-small {
    display: inline-flex;
    margin-right: 8px;
}
.v21 .business-account-tileblock__topbox--left span:first-of-type {
    position: relative;
    top: -13px;
}
.v21 .business-account-tileblock__topbox--left span:last-of-type {
    display: inline-flex;
    width: 358px;
    font-size: 38px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0;
}
.v21 .business-account-tileblock__topbox--right {
    margin: 18px 0 0 52px;
    width: 100%;
    font-family: RF Dewi;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0;
}
.v21 .business-account-tileblock__grid {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: auto;
}
.v21 .business-account-tileblock__grid--item {
    flex: 0 0 298px;
    padding: 18px 16px 30px 16px;
    width: 100%;
    background: linear-gradient(179.8deg, #f0f3f5 .19%, #e9edef 99.85%);
    border-radius: 8px;
}
.v21 .business-account-tileblock__grid--item-box {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    position: relative;
    font-family: RF Dewi;
    color: #202020;
}
.v21 .business-account-tileblock__grid--item-box.box-1 {
    padding-top: 0;
}
.v21 .business-account-tileblock__grid--item-box.box-2 {
    border-top: 1px solid #c9d3d8;
    border-bottom: 1px solid #c9d3d8;
}
.v21 .business-account-tileblock__grid--item-box.box-3 {
    padding-bottom: 0;
}
.v21 .business-account-tileblock__grid--item-box.box-4 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 24px;
    padding-top: 32px;
    padding-bottom: 0;
}
.v21 .business-account-tileblock__grid--title {
    margin: 0 0 4px 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0;
}
.v21 .business-account-tileblock__grid--subtitle {
    margin: 0 0 0 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #546770;
}
.v21 .business-account-tileblock__grid--hit {
    position: absolute;
    top: 10px;
    right: -16px;
}
.v21 .business-account-tileblock__grid--brief {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.v21 .business-account-tileblock__grid--brief:not(:last-of-type) {
    margin-bottom: 25px;
}
.v21 .business-account-tileblock__grid--brief .brief-title {
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #546770;
}
.v21 .business-account-tileblock__grid--brief .brief-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}
.v21 .business-account-tileblock__grid--brief .brief-text .text--addition {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
}
.v21 .business-account-tileblock__grid--price {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.v21 .business-account-tileblock__grid--price .price-title {
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #546770;
}
.v21 .business-account-tileblock__grid--price .price-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
}
.v21 .business-account-tileblock__grid--price .price-text .text--addition {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
}
.v21 .business-account-tileblock__grid__button {
    display: block;
    margin: 0 auto;
    padding: 18px 70px 18px 70px;
    width: fit-content;
    font-family: RF Dewi;
}
.v21 .business-account-details {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: RF Dewi;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #00345e;
}
.v21 .business-account-details span:hover {
    color: #a58a57;
}
.v21 .business-account-details:hover svg path {
    fill: #a58a57;
}
.v21 .business-account-details__arrow {
    position: relative;
    right: -6px;
    top: 7px;
}


@media screen and (max-width: 1500px) {
    .v21 .business-account-tileblock__grid {
        overflow-x: auto;
        scrollbar-width: none;
    }
    .v21 .business-account-tileblock__grid::-webkit-scrollbar {
        width: 0;
    }
}

@media screen and (min-width: 480px) {
    .v21 .business-account-topblock__header {
    }
    .v21 .business-account-topblock__image--320 {
        display: none;
    }
    .v21 .business-account-topblock__image--480 {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .v21 .business-account-topblock__image {
        flex: 0 0 365px;
    }
    .v21 .business-account-topblock__image--480 {
        display: none;
    }
    .v21 .business-account-topblock__image--768 {
        display: block;
    }
    .v21 .business-account-topblock {
        justify-content: flex-start;
        flex-wrap: nowrap;
        /*margin-top: 104px;*/
        padding-bottom: 67px;
    }
    /*.v21 .business-account-tileblock__grid--horline {
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
    }
    .v21 .business-account-tileblock__grid--horline.horline-1 {
        bottom: 0;
        background: linear-gradient(90deg, transparent 0%, #cedcdc 30%, transparent 70%, transparent 100%) no-repeat center;
    }*/
    .v21 .business-account-topblock__block {
        order: 1;
        flex: 1 1 100%;
        /*max-width: 550px;*/
    }
    .v21 .business-account-tileblock__grid {
        column-gap: 30px;
    }
    .v21 .business-account-tileblock__grid--item {
        flex-basis: 450px;
        padding: 38px 37px 52px 42px;
    }
    .v21 .business-account-tileblock__grid--item-box.box-4 {
        flex-wrap: nowrap;
    }
    .v21 .business-account-tileblock__grid--hit {
        top: 16px;
        right: -37px;
    }
    .v21 .business-account-topblock__header {
        margin-bottom: 45px;
    }
    .v21 .business-account-topblock__content {
        margin-bottom: 60px;
        /*font-size: 32px;
        line-height: 42px;*/
    }
    .v21 .business-account-topblock__buttons {
        flex-wrap: nowrap;
    }
    .v21 .business-account-tileblock__topbox {
        flex-wrap: nowrap;
        margin-bottom: 81px;
    }
    .v21 .v21-container .business-account-tileblock {
        margin-top: 101px;
    }
    .v21 .business-account-tileblock__topbox--right {
        margin-top: 0;
        margin-left: 0;
        width: 216px;
    }
    .v21 .business-account-tileblock__topbox--left span:last-of-type {
        font-size: 60px;
        line-height: 54px;
    }
    .v21 .business-account-tileblock__topbox--left .figure-3-big {
        display: inline-flex;
    }
    .v21 .business-account-tileblock__topbox--left .figure-3-small {
        display: none;
    }
    .v21 .business-account-tileblock__grid--title {
        margin-bottom: 11px;
        font-size: 32px;
        line-height: 48px;
    }
    .v21 .business-account-tileblock__grid--brief .brief-text {
        font-size: 24px;
        line-height: 29px;
    }
    .v21 .business-account-tileblock__grid--price .price-text {
        font-size: 24px;
        line-height: 29px;
    }
    .v21 .business-account-tileblock__grid__button {
        margin-left: 0;
        margin-right: 0;
        padding-left: 42px;
        padding-right: 42px;
    }
    .v21 .business-account-details {
        justify-content: flex-end;
        width: fit-content;
    }
}

@media screen and (min-width: 1024px) {
    .v21 .business-account-topblock__image--768 {
        display: none;
    }
    .v21 .business-account-topblock__image--1024 {
        display: block;
    }
    .v21 .business-account-topblock__image {
        flex-basis: 478px;
    }
    .v21 .v21-container .business-account-tileblock {
        /*margin-top: 114px;*/
    }
    .v21 .business-account-topblock {
        /*flex-wrap: nowrap;*/
        padding-bottom: 0;
    }
    .v21 .business-account-topblock__block {
        /*max-width: 550px;*/
    }
    /*.v21 .business-account-tileblock__grid--horline.horline-2 {
        top: 270px;
        background: linear-gradient(90deg, transparent 0%, transparent 5%, #cedcdc 20%, transparent 35%, transparent 65%, #cedcdc 80%, transparent 95%, transparent 100%) no-repeat center;
    }
    /*.v21 .business-account-tileblock__grid--verline.verline-2 {
        right: 33%;
        background: linear-gradient(0, transparent 0%, transparent 40%, #cedcdc 70%, transparent 100%) no-repeat center;
    }*/
    .v21 .business-account-tileblock__topbox--right {
        width: 450px;
    }
    .v21 .v21-container .business-account-tileblock {
        margin-top: 127px;
    }
}
@media screen and (min-width: 1366px) {
    .v21 .business-account-topblock {
        padding-bottom: 30px;
    }
    .v21 .business-account-topblock__header {
        font-size: 58px;
        line-height: 58px;
    }
    .v21 .business-account-topblock__image--1366 {
        display: block;
    }
    .v21 .business-account-topblock__image--1024 {
        display: none;
    }
    .v21 .business-account-topblock__image {
        flex-basis: 521px;
    }
    /*.v21 .business-account-tileblock__grid--verline {
        display: block;
    }
    .v21 .business-account-tileblock__grid--verline.verline-1 {
        right: 34%;
        background: linear-gradient(0, transparent 0%, transparent 40%, #cedcdc 70%, transparent 100%) no-repeat center;
    }*/
    .v21 .v21-container .business-account-tileblock {
        margin-top: 145px;
    }
    .v21 .business-account-topblock__block {
        max-width: 692px;
    }
}
@media screen and (min-width: 1920px) {
    /*.v21 .business-account-tileblock__grid--verline.verline-1 {
        right: 41%;
    }*/
}
