.v21 .corpcards-page__background-blue {
    position: fixed;
    inset: 0;
    z-index: -1;
    opacity: 0;
    background: linear-gradient(170.44deg, #131b36 0, #0c2657 51.56%, #033d66 100%);
}

.v21 .corporative-card {
    margin: 72px 0 0 0;
    position: relative;
    font-family: Canela Deck LC;
}
.v21 .corporative-card__header {
    margin: 0 0 28px 0;
    max-width: 640px;
    font-size: 42px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0;
    color: #00345e;
}
.v21 .corporative-card__content {
    margin: 0 0 28px 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
    letter-spacing: 0;
    color: #202020;
}

@media screen and (min-width: 768px) {
    .v21 .corporative-card {
        margin-top: 104px;
    }
    .v21 .corporative-card__header {
        margin-bottom: 45px;
        font-size: 82px;
        line-height: 74px;
    }
    .v21 .corporative-card__content {
        margin-bottom: 45px;
        font-size: 28px;
        line-height: 42px;
    }
}

@media screen and (min-width: 1024px) {
}

/* index_block_top.php */
/*
.v21 .v21-block-top {
    margin-bottom: 60px;
}
.v21 .v21-grid__item--box {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.v21 .v21-grid__item--img {
    width: 100px;
    aspect-ratio: 91/90;
}
.v21 .v21-grid__item--text {
    max-width: 350px;
    font-weight: 600;
    font-size: 18px;
    color: #202020;
}
.v21 .v21-block-top--mirpay {
    margin-top: 40px;
    width: 140px;
}
.v21 .v21-grid__item--link {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.v21 .v21-grid__item--href {
    align-self: flex-end;
    display: flex;
    justify-content: flex-start;
    font-family: RF Dewi;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #00345e;
}
.v21 .v21-grid__item--href span:hover {
    color: #a58a57;
}
.v21 .v21-grid__item--href:hover span {
    color: #a58a57;
}
.v21 .v21-grid__item--href:hover svg path {
    fill: #a58a57;
}
.v21 .v21-grid__item--href__arrow {
    position: relative;
    right: -4px;
    top: 7px;
}*/

/* index_block_cash.php */
.v21 .v21-block-cash {
    margin-bottom: 70px;
}
.v21 .v21-block-cash__header {
    margin-bottom: 45px;
    /*font-size: 38px;
    font-weight: 300;
    line-height: 34px;
    font-family: Canela Deck LC;*/
    color: #00345e;
    font-family: RF Dewi;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0;
}
.v21 .v21-block-cash__wrap {
    /*margin: 0 auto;
    max-width: 1024px;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 50px;
}
.v21 .v21-block-cash__item {
    max-width: 100%;
}
.v21 .v21-block-cash__item--subheader {
    margin: 0 0 15px 0;
    font-weight: 600;
    font-size: 22px;
    color: #00345e;
}
.v21 .v21-block-cash__item--text {
    margin: 0;
    color: #202020;
}

@media screen and (min-width: 1024px) {
    .v21 .v21-block-cash {
        margin-bottom: 120px;
    }
    .v21 .v21-block-cash__header {
        margin-bottom: 55px;
        /*font-size: 60px;
        line-height: 78px;*/
        font-size: 40px;
        line-height: 52px;
        text-align: center;
    }
    .v21 .v21-block-cash__wrap {
        margin: 0 auto;
        max-width: 1024px;
    }
    .v21 .v21-block-cash__item {
        max-width: 40%;
    }
}

/* index_block_function.php */
.v21 .v21-block-function {
    margin-bottom: 120px;
}
.v21 .v21-block-function__header {
    margin-bottom: 45px;
    max-width: 810px;
    /*font-size: 38px;
    font-weight: 300;
    line-height: 34px;
    font-family: Canela Deck LC;*/
    color: #00345e;
    font-family: RF Dewi;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0;
}
.v21 .v21-block-function__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 50px;
}
.v21 .v21-block-function__left,
.v21 .v21-block-function__right {
    position: relative;
    max-width: 100%;
}
.v21 .v21-block-function__item {
    margin: 0 0 24px 0;
    max-width: 100%;
}
.v21 .v21-block-function__item:last-of-type {
    margin-bottom: 0;
}
.v21 .v21-block-function__item--subheader {
    margin: 0 0 12px 0;
    font-size: 22px;
    font-weight: 600;
    color: #00345e;
}
.v21 .js-color-switch .v21-block-function__item--subheader {
    color: #ffffff;
}
.v21 .v21-block-function__item--text {
    margin: 0;
    color: #202020;
}
.v21 .v21-block-function__item--text2 {
    margin: 20px 0 0 0;
    font-weight: 600;
    color: #202020;
}
.v21 .v21-block-function__item--text2 a {
    color: #00345e;
}
.v21 .js-color-switch .v21-block-function__item--text {
    color: #ffffff;
}
.v21 .v21-block-function__note {
    position: absolute;
    left: 10px;
    bottom: -115px;
    display: flex;
    column-gap: 10px;
    max-width: 670px;
    /*font-weight: 600;*/
    color: #202020;
}
.v21 .js-color-switch .v21-block-function__note {
    color: #ffffff;
}
.v21 .v21-block-function__note--img {}

@media screen and (min-width: 550px) {
    .v21 .v21-block-function__note {
        bottom: -75px;
    }
}
@media screen and (min-width: 1024px) {
    .v21 .v21-block-function {
        margin-bottom: 140px;
    }
    .v21 .v21-block-function__header {
        margin-bottom: 55px;
        margin-left: auto;
        margin-right: auto;
        /*font-size: 60px;
        line-height: 78px;*/
        font-size: 40px;
        line-height: 52px;
        text-align: center;
    }
    .v21 .v21-block-function__wrap {
        margin: 0 auto;
        max-width: 1024px;
    }
    .v21 .v21-block-function__left {
        max-width: 45%;
    }
    .v21 .v21-block-function__right {
        max-width: 45%;
        display: flex;
        align-items: center;
    }
    .v21 .v21-block-function__note {
        bottom: -50px;
    }
}

/* webtu:feedback */
.v21 .v21-corpcards-wide-container {
    margin-top: 10px;
    margin-bottom: 40px;
}

/* index_block_bottom.php */
.v21 .v21-corpcards-popproducts--top {
    margin: 100px 0 0 0;
}
@media screen and (min-width: 768px) {
    .v21 .v21-corpcards-popproducts--top {
        margin-top: 160px;
    }
}
@media screen and (min-width: 1024px) {
    .v21 .v21-corpcards-popproducts--top {
        margin-top: 112px;
    }
}
@media screen and (min-width: 1440px) {
    .v21 .v21-corpcards-popproducts--top {
        margin-top: 228px;
    }
}

/* bitrix:news.list / v21_safes_docs */
.v21 .v21-corpcards--tariffs {
    margin-top: 100px;
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-width: 1440px) {
}
