.v21 .v21-section .fast-transactions-tileblock {
    padding: 32px 0;
    /*font-family: Canela Deck LC;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0em;*/
    /*outline: 1px solid darkred;*/
}
.v21 .fast-transactions-tileblock__header {
    margin: 0 0 32px 0;
    font-family: Canela Deck LC;
    font-size: 30px;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
}
.v21 .fast-transactions-tileblock__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
    /*display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    grid-column-gap: 0;
    grid-row-gap: 50px;*/
    position: relative;
}
.v21 .fast-transactions-tileblock__grid--textbox {
    flex: 1 1 100%;
    order: 3;
}
.v21 .fast-transactions-tileblock__grid--imgbox {
    flex: 0 0 100%;
    order: 1;
}
.v21 .fast-transactions-tileblock__grid--item {
    /*flex: 0 0 140px;
    width: 100%;*/
    margin: 0 auto 30px auto;
    min-width: 140px;
}
.v21 .fast-transactions-tileblock__grid--item:last-of-type {
    margin-bottom: 0;
}
.v21 .fast-transactions-tileblock__grid--item-box {
    display: flex;
    /*justify-content: center;*/
    flex-wrap: wrap;
    row-gap: 15px;
    position: relative;
}
.v21 .fast-transactions-tileblock__grid--item-box.box-1 {
    /*display: flex;
    justify-content: space-between;*/
    /*row-gap: 24px;*/
    color: #000000;
    /*text-align: center;*/
}
.v21 .fast-transactions-tileblock__grid--img {
    width: 48px;
    margin-bottom: 16px;
}
.v21 .fast-transactions-topblock__image {}
.v21 .fast-transactions-topblock__image--1024,
.v21 .fast-transactions-topblock__image--768,
.v21 .fast-transactions-topblock__image--480 {
    display: none;
    text-align: center;
}
.v21 .fast-transactions-topblock__image--320 {
    display: block;
    text-align: center;
}
.v21 .fast-transactions-tileblock__grid--title {
    /*flex: 1 0 100%;*/
    margin: 0 0 3px 0;
    width: 100%;
    font-family: Canela Deck LC;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
}
.v21 .fast-transactions-tileblock__grid--subtitle {
    /*flex: 1 0 100%;*/
    /*margin: 0 auto;*/
    /*text-align: center;*/
    /*font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #546770;*/
    font-family: RF Dewi;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
}
/*.v21 .base-account-tileblock__grid--horline {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
}
.v21 .base-account-tileblock__grid--horline.horline-1 {
    top: 0;
    background: linear-gradient(90deg, transparent 0%, transparent 10%, #cedcdc 30%, transparent 80%, transparent 100%) no-repeat center;
}
.v21 .base-account-tileblock__grid--horline.horline-2 {
    bottom: 0;
    background: linear-gradient(270deg, transparent 0%, transparent 10%, #cedcdc 30%, transparent 80%, transparent 100%) no-repeat center;
}*/

@media screen and (min-width: 480px) {
    .v21 .fast-transactions-tileblock__header {
        /*font-size: 36px;
        line-height: 50px;*/
    }
    .v21 .fast-transactions-tileblock__grid {
        /*grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;*/
    }
    .v21 .fast-transactions-tileblock__grid--item {
        /*flex-basis: 220px;*/
        /*width: 220px;*/
    }
    .v21 .fast-transactions-topblock__image--320 {
        display: none;
    }
    .v21 .fast-transactions-topblock__image--480 {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .v21 .v21-section .fast-transactions-tileblock {
        /*margin-top: 117px;*/
        padding-top: 64px;
        padding-bottom: 64px;
        /*font-size: 24px;
        line-height: 31px;*/
    }
    .v21 .fast-transactions-tileblock__header {
        margin-bottom: 64px;
        font-size: 36px;
        line-height: 50px;
    }
    .v21 .fast-transactions-tileblock__grid {
        /*grid-column-gap: 60px;*/
        flex-wrap: nowrap;
    }
    .v21 .fast-transactions-tileblock__grid--title {
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
    }
    .v21 .fast-transactions-tileblock__grid--textbox {
        flex-basis: auto;
    }
    .v21 .fast-transactions-tileblock__grid--imgbox {
        flex-basis: 364px;
        order: 5;
        display: flex;
        align-items: center;
    }
    .v21 .fast-transactions-tileblock__grid--item {
        /*flex-basis: 364px;*/
        /*width: 364px;*/
    }
    .v21 .fast-transactions-tileblock__grid--img {
        width: 60px;
    }
    .v21 .fast-transactions-tileblock__grid--subtitle {
        /*flex-basis: 198px;
        display: flex;
        justify-content: flex-end;*/
    }
    .v21 .fast-transactions-topblock__image--480 {
        display: none;
    }
    .v21 .fast-transactions-topblock__image--768 {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    /*.v21 .v21-section .fast-transactions-tileblock {
        font-size: 30px;
        line-height: 39px;
    }*/
    .v21 .fast-transactions-tileblock__header {
        margin-bottom: 120px;
    }
    .v21 .fast-transactions-tileblock__grid {
        /*grid-column-gap: 100px;*/
        /*row-gap: 100px;*/
    }
    .v21 .fast-transactions-tileblock__grid--imgbox {
        flex-basis: 450px;
    }
    .v21 .fast-transactions-tileblock__grid--item {
        /*flex-basis: 480px;*/
        /*width: 480px;*/
    }
    .v21 .fast-transactions-tileblock__grid--img {
        width: 81px;
        margin-bottom: 24px;
    }
    .v21 .fast-transactions-tileblock__grid--item-box.box-1 {
        font-size: 22px;
        line-height: 31px;
    }
    .v21 .fast-transactions-topblock__image--768 {
        display: none;
    }
    .v21 .fast-transactions-topblock__image--1024 {
        display: block;
    }
}
@media screen and (min-width: 1366px) {
    .v21 .v21-section .fast-transactions-tileblock {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .v21 .fast-transactions-tileblock__grid {
        /*grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: max-content;
        grid-column-gap: 120px;*/
        /*row-gap: 32px;*/
    }
    .v21 .fast-transactions-tileblock__grid--item {
        /*flex-basis: 300px;*/
        /*width: 300px;*/
    }
    .v21 .fast-transactions-tileblock__grid--img {
        margin-bottom: 30px;
    }
    /*.v21 .base-account-tileblock__grid--verline {
        display: block;
    }*/
}
@media screen and (min-width: 1440px) {
}
