.v21 .v21-safes-page--header {
    margin: 0 0 28px 0;
    max-width: 640px;
}
.v21 .v21-safes-page--subheader {
    margin: 0 0 20px 0;
    color: #00345e;
    font-family: RF Dewi;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0;
}
.v21 .js-color-switch .v21-safes-page--subheader {
    color: #ffffff;
}
.v21 .v21-intro-card {
    column-gap: 30px;
}

@media screen and (min-width: 768px) {
    .v21 .v21-safes-page--header {
        margin-bottom: 45px;
    }
}
@media screen and (min-width: 1024px) {
    .v21 .v21-safes-page--subheader {
        text-align: center;
        font-size: 40px;
        line-height: 52px;
    }
}