.v21 .solutions-block {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.v21 .solutions-block .solutions-block--header {
	margin: 0 0 105px 0;
	width: 100%;
	font-family: OpiumNewC;
	font-weight: 400;
	line-height: 52px;
	text-align: center;
}
.v21 .solutions-block--wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 0 120px;
	width: 100%;
}
.v21 .solutions-block--item {
	display: flex;
	position: relative;
	width: 42%;
	margin: 0 0 75px 0;
}
.v21 .solutions-item--image {
	flex: 0 0 90px;
	height: 90px;
	margin-right: 35px;
}
.v21 .solutions-item--image_picture {
	width: auto;
}
.v21 .solutions-item--text {}
.v21 .solutions-block .solutions-item--header {
	margin: 0 0 8px 0;
	line-height: 29px;
}
.v21 .solutions-item--description {
	font-family: RF Dewi;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

@media screen and (max-width: 1320px) {
	.v21 .solutions-block--item {
		width: 45%;
	}
}
@media screen and (min-width: 1100px) {
	.v21 .solutions-item--text {
		flex-grow: 1;
	}
}
@media screen and (max-width: 1100px) {
	.v21 .solutions-block .solutions-block--header {
		margin-bottom: 50px;
	}
	.v21 .solutions-block--wrap {
		padding-left: 0;
		padding-right: 0;
	}
	.v21 .solutions-block--item {
		flex-wrap: wrap;
	}
	.v21 .solutions-item--image {
		margin: 0 auto 8px auto;
		/*margin-right: 0;*/
		width: 100%;
	}
	.v21 .solutions-item--text {
		width: 100%;
	}
}
@media screen and (max-width: 695px) {
	.v21 .solutions-block--wrap {
		flex-wrap: wrap;
	}
	.v21 .solutions-block--item {
		width: 100%;
	}
}
