#captcha_container { display: inline-block; width: 180px; height: 40px; }
.alert {border: none;border-radius: 1px;font-size: 14px;padding: 15px;margin-bottom: 20px;}
.alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}

.register .bx-authform-formgroup-container img { float: left; width: 48%; height: 40px; line-height: 40px; }
.register .bx-authform-formgroup-container input { float: right; width: 50%; height: 40px; }