.v21 .v21-container .base-account-tileblock {
    margin-top: 80px;
    margin-bottom: 0;
    font-family: Canela Deck LC;
}
.v21 .base-account-tileblock__grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.v21 .base-account-tileblock__grid--item {
    flex: 0 0 100%;
    padding: 22px 0 42px 0;
    width: 100%;
}
.v21 .base-account-tileblock__grid--item-box {
    display: flex;
    position: relative;
    font-family: RF Dewi;
    color: #202020;
}
.v21 .base-account-tileblock__grid--item-box.box-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.v21 .base-account-tileblock__grid--item-box.box-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
}
.v21 .base-account-tileblock__grid--title {
    flex: 1 0 100%;
    margin: 0 0 4px 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0;
}
.v21 .base-account-tileblock__grid--subtitle {
    flex: 1 0 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #546770;
}
.v21 .base-account-tileblock__grid--brief {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.v21 .base-account-tileblock__grid--brief .brief-title {
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #546770;
}
.v21 .base-account-tileblock__grid--brief .brief-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}
.v21 .base-account-tileblock__grid--brief .brief-text .text--addition {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
}
.v21 .base-account-tileblock__grid--brief .brief-text--special {
    display: flex;
    justify-content: flex-start;
}
.v21 .base-account-tileblock__grid--brief .brief-text--note {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6px;
    left: 5px;
    height: 16px;
    width: 16px;
    border: 1px solid #8fa0ac;
    border-radius: 50%;
    background-color: #8fa0ac;
    color: #ffffff;
    cursor: pointer;
}
.v21 .base-account-tileblock__grid--brief .brief-text--symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    text-transform: lowercase;
}
.v21 .base-account-tileblock__grid--brief .brief-text--subline {
    position: absolute;
    top: 28px;
    right: -1px;
    width: 280px;
    padding: 10px 16px 10px 16px;
    border-radius: 8px;
    background-color: #f9fbfb;
    color: #202020;
    box-shadow: 0 4px 18px 2px rgb(0 0 0 / 17%);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-transform: initial;
    z-index: 10;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
}
.v21 .base-account-tileblock__grid--brief .brief-text--subline_show {
    visibility: visible;
    opacity: 1;
}
.v21 .base-account-tileblock__grid--brief-link {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    width: 100%;
}
.v21 .base-account-tileblock__grid__button {
    display: block;
    margin: 0;
    padding: 18px 42px 18px 42px;
    width: fit-content;
    font-family: RF Dewi;
}
.v21 .base-account-details {
    display: flex;
    justify-content: flex-end;
    margin-left: 39px;
    font-family: RF Dewi;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #00345e;
}
.v21 .base-account-tileblock__grid--horline {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
}
.v21 .base-account-tileblock__grid--horline.horline-1 {
    top: 0;
    background: linear-gradient(90deg, transparent 0%, transparent 10%, #cedcdc 30%, transparent 80%, transparent 100%) no-repeat center;
}
.v21 .base-account-tileblock__grid--horline.horline-2 {
    bottom: 0;
    background: linear-gradient(270deg, transparent 0%, transparent 10%, #cedcdc 30%, transparent 80%, transparent 100%) no-repeat center;
}


@media screen and (min-width: 768px) {
    .v21 .v21-container .base-account-tileblock {
        margin-top: 117px;
    }
    .v21 .base-account-tileblock__grid {
        flex-wrap: nowrap;
    }
    .v21 .base-account-topblock__header {
        max-width: 471px;
        font-size: 82px;
        font-weight: 300;
        line-height: 74px;
    }
    .v21 .base-account-topblock__content {
        font-size: 32px;
        font-weight: 300;
        line-height: 42px;
    }
    .v21 .base-account-tileblock__grid--item {
        padding-top: 34px;
        padding-bottom: 57px;
    }
    .v21 .base-account-tileblock__grid--title {
        flex-basis: 241px;
        margin-bottom: 0;
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
    }
    .v21 .base-account-tileblock__grid--subtitle {
        flex-basis: 198px;
        display: flex;
        justify-content: flex-end;
    }
    .v21 .base-account-tileblock__grid--item-box {}
    .v21 .base-account-tileblock__grid--item-box.box-1 {
        flex-wrap: nowrap;
        align-items: baseline;
        margin-bottom: 50px;
    }
    .v21 .base-account-tileblock__grid--item-box.box-2 {
        align-items: center;
    }
    .v21 .base-account-tileblock__grid--brief {
        width: auto;
    }
    .v21 .base-account-tileblock__grid--brief:nth-of-type(1),
    .v21 .base-account-tileblock__grid--brief:nth-of-type(2) {
        margin-bottom: 0;
    }
    .v21 .base-account-tileblock__grid--brief .brief-text {
        font-size: 24px;
        line-height: 29px;
    }
    .v21 .base-account-tileblock__grid--brief-link {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .v21 .base-account-topblock__block {
        max-width: 550px;
    }
    .v21 .base-account-topblock {
        padding-bottom: 113px;
    }
    .v21 .v21-container .base-account-tileblock {
        margin-top: 107px;
    }
    .v21 .base-account-tileblock__grid--item-box.box-2 {
        flex-wrap: nowrap;
    }
    .v21 .base-account-tileblock__grid--brief-link {
        margin-top: 0;
        width: auto;
    }
    .v21 .base-account-tileblock__grid--brief .brief-text--subline {
        left: 1px;
    }
}
@media screen and (min-width: 1280px) {
    .v21 .base-account-tileblock__grid--verline {
        display: block;
    }
}
@media screen and (min-width: 1440px) {
}
